<nz-space
  nzSize="middle"
  nzDirection="vertical"
  style="
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #2e2e2e;
    padding: 5px;
  "
>
  <nz-space-item *ngFor="let item of items">
    <nz-card [nzActions]="[TakeExam]" nzBordered="true" nzSize="small">
      <nz-card-meta [nzTitle]="title" [nzDescription]="desc"></nz-card-meta>
      <ng-template #title>
        <h2 nz-typography>{{ item.theme }}</h2>
      </ng-template>
      <ng-template #desc>
        <div fxLayout="row" fxLayoutAlign="space-around end">
          <div>
            <h4 nz-typography>
              <i nz-icon nzType="user"></i>{{ item.username }}
            </h4>
          </div>
          <div>
            <h4 nz-typography>
              <i nz-icon nzType="number"></i>
              {{ item.numOfQuestions }} preguntas
            </h4>
          </div>
        </div>
      </ng-template>
    </nz-card>

    <ng-template #TakeExam>
      <a nz-button nzType="link" nzBlock="true" (click)="takeQuiz(item.id)">
        Take Exam
      </a>
    </ng-template>
  </nz-space-item>
</nz-space>
