.logo {
  font-size: 20px;
  color: white;
  align-self: center;
}

.content-style {
  overflow: auto;
}

nz-footer {
  text-align: center;
}

.content {
  padding: 5px;
  margin: 8px;
  height:100%;
  width: 100%;
  background-color: #141414;

}

.menu-item {
  font-size: 18px;
}
